@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
}

/* Base style for the header */
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f6f9fc;
    border-bottom: 1px solid rgba(28, 125, 180, 0.4);
    z-index: 99;
    width: 100vw; /* Default width */
}

/* Medium screens (md) */
@media (min-width: 768px) {
    .fixed-header {
        left: 140px;
        width: calc(100vw - 140px);
    }
}

/* Large screens (lg) */
@media (min-width: 1024px) {
    .fixed-header {
        left: 150px;
        width: calc(100vw - 150px);
    }
}

/* Extra large screens (2xl) */
@media (min-width: 1536px) {
    .fixed-header {
        left: 194px;
        width: calc(100vw - 194px);
    }
}

th,
td {
    white-space: nowrap !important;
    padding: 2px !important;
}

input,
textarea {
    background-color: #f6f9fc;
}

.table-width {
    width: calc(100% - 150px) !important;
}

.fixed-header-2 {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f6f9fc;
    border-bottom: 1px solid rgba(28, 125, 180, 0.4);
    z-index: 99;
    width: 100vw; /* Default width */
}

/* Medium screens (md) */
@media (min-width: 768px) {
    .fixed-header-2 {
        left: 440px;
        width: calc(100vw - 440px);
    }
}

/* Large screens (lg) */
@media (min-width: 1024px) {
    .fixed-header-2 {
        left: 450px;
        width: calc(100vw - 450px);
    }
}

/* Extra large screens (2xl) */
@media (min-width: 1536px) {
    .fixed-header-2 {
        left: 494px;
        width: calc(100vw - 494px);
    }
}

.h-chat {
    height: calc(100vh - 125px);
    overflow-y: auto;
}

@media (min-width: 768px) {
    .h-chat {
        height: calc(100vh - 75px);
    }
}

@media (min-width: 1024px) {
    .h-chat {
        height: calc(100vh - 110px);
    }
}

@media (min-width: 1536px) {
    .h-chat {
        height: calc(100vh - 110px);
    }
}
